{
  "mcpServers": {
    "callcraft": {
      "command": "uvx",
      "args": [
        "--with",
        "mcp<2",
        "mcp-proxy",
        "--transport",
        "sse",
        "--headers",
        "X-USER-ID",
        "YOUR_CALLCRAFT_USER_ID",
        "--headers",
        "X-CALL-PUBLIC-KEY",
        "YOUR_CALLCRAFT_PUBLIC_KEY",
        "--headers",
        "Authorization",
        "Bearer YOUR_CALLCRAFT_AUTH_KEY",
        "--headers",
        "X-PROJECT-ID",
        "YOUR_CALLCRAFT_PROJECT_ID",
        "https://callcraft-api.flyup.id/mcp/v1/sse"
      ]
    },
    "lf-hacktiv8_ibm": {
      "command": "uvx",
      "args": [
        "--with",
        "mcp<2",
        "mcp-proxy",
        "--transport",
        "streamablehttp",
        "--headers",
        "x-api-key",
        "YOUR_LANGFLOW_API_KEY",
        "http://localhost:7860/api/v1/mcp/project/YOUR_LANGFLOW_PROJECT_ID/streamable"
      ]
    }
  }
}
